* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --primary: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
}

body {
    box-sizing: border-box;
    font-size: 15px;
    background-color: var(--VeryDarkBlue);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    flex-direction: column;
}

.container{
    width: 800px;
    height: 400px;
    position: relative;
    padding: 10px 17px;
    overflow: hidden;
}

.ratingstate{
    max-width: 270px;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
    background-color: var(--DarkBlue);
    padding: 20px;
    border-radius: 20px;
    row-gap: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s;
}


.ratingthank{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 270px;
    background-color: var(--DarkBlue);
    border-radius: 20px;
    padding: 20px;
    row-gap: 18px;
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translate(-50%,-50%);
    transition: all 0.3s;

}

.ratingstate .icon-img{
    background-color: hsla(211, 15%, 43%, 0.176);
    padding: 7px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.ratingstate .title{
    font-size: 18px;
    color: var(--White);
    font-family: 'Overpass',sans-serif;
    font-weight: 500;
}

.ratingstate .para{
    color: var(--LightGrey);
    font-family: 'Overpass',sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.6;
}

.ratingpoints{
    display: flex;
    column-gap: 9px;
}

.ratingpoints .point{
    width: 40px;
    height: 40px;
    background-color: hsla(211, 15%, 43%, 0.176);
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
    color: var(--LightGrey);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-family: 'Overpass',sans-serif;
    font-weight: 600;
}

.ratingpoints  .point:hover{
    background-color:hsla(0, 0%, 98%, 0.902);
    color: black;
}

.ratingpoints  .point:active{
    background-color:var(--primary);
    color: black;
}

.ratingpoints .point.selected{
    background-color: var(--primary);
    color: black;
}

button{
    margin-top: 20px;
    padding: 9px 18px;
    border-radius: 20px;
    background-color: var(--primary);
    color: black;
    transition: 0.3s;
    border: none;
    width: 100%;
    font-family: 'Overpass',sans-serif;
    font-size: 17px;
    cursor: pointer;
}

button:hover{
    background-color: var(--White);
    color: black;
}



.thank-img{
    width: 150px;
    padding: 2px;
}

.thank-img img{
    width: 100%;
}

.rating{
    padding: 7px;
    border-radius: 15px;
    background-color:hsla(211, 15%, 43%, 0.176) ;
    color: var(--primary);
    font-size: 12px;
    font-weight: 500;
    font-family: 'Overpass',sans-serif;
}

.ratingthank p:nth-child(3){
    color: var(--White);
    font-size: 19px;
    font-weight: 700;
    font-family: 'Overpass',sans-serif;
    letter-spacing: 4px;
}

.ratingthank p:last-child{
    color: var(--LightGrey);
    font-size: 12px;
    font-weight: 300;
    font-family: 'Overpass',sans-serif;
    text-align: center;
}

.attribution{
    margin-top: 60px;
    color: white;
}

.attribution a{
    color: rgba(255, 255, 255, 0.406);
}